[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/jcodybaker/Casper.git
[submodule "core/client"]
	path = core/client
	url = https://github.com/jcodybaker/Ghost-Admin.git
